* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', 'Courier New', Courier, monospace,sans-serif;
}

body {
    /* height: 4000px; */
    width: 100%;
    position: relative;
    margin: 0 auto;
    background-color: #555555;
}


.logo {
    width: 111px;
    height: 60px;
    cursor: pointer;
}

.profile {
    width: 53px;
    height: 53px;
}

li, a, .propil {
    font-family: 'Poppins', 'Courier New', Courier, monospace,sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #000;
    text-decoration: none;
}


.box1 {
    position: relative;
    padding-top: 200px;
    /* width: 100%; */
    z-index: 1;
    height: 850px;
    background: url(../walpaper/wpBox1.png) no-repeat center center fixed;
    background-size: cover;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10%;
    background-color: rgba(255, 255, 255,0.7);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999999;
}

.navbar {
    list-style: none;
}


.navbar li {
    /* animation: myAnim 1s ease 0s 1 normal forwards; */
    display: inline-block;
    padding: 0px 20px;
    /* background-color: red; */
    transition: all .8s ease 0s;
}

.container2 {
    /* border: 1px solid red; */
    margin: 0px 10%;
    display: flex;
    justify-content: space-between;
}

.navbar li:hover{
    border-radius: 8px;
    /* width: 100px;
    height: 30px; */
    text-align: center;
    justify-content: center;
    background-color: #FF3D00;
    position: relative;
    width: auto;    
}

.navbar li a {
    width: 200px;
    height: 100px;
    transition: all 0.3s ease 0s;
}

/* .ygkedua{
    background-image: url(../imghomepage/testow.png);
} */

.navbar li a:hover {
    /* background-color: aqua; */
    
    color: white;
}

.propil{
    padding: 9px 25px;
}

/* .textPromote {
    border: 1px;
    width: 1300px;
    padding: 200px 10%;
    font-family: 'Poppins', 'Courier New', Courier, monospace,sans-serif;


} */

main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border: 1px solid red;
}


.p1{
    color: white;
    font-size: 32px;
}

.p2{
    color: white;
    font-size: 72px;
    font-weight: 900;
}

.p3{
    font-size: 24px;
    color: white;

}

.r1 {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-color: #FF6D1E;
    border: 0px solid ;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    opacity: 0.8;
}

.r1:hover {
    opacity: 1;
}

.r2 {
    transition: all 0.3s ease 0s;
    opacity: 0.8;
    cursor: pointer;
    background-color: #FF3D00;
    border: 0px solid ;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
}

.r2:hover {
    opacity: 1;
}

.r3 {
    transition: all 0.3s ease 0s;
    cursor: pointer;
    background-color: #FFA031;
    border: 0px;
    width: 100px;
    height: 45px;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    color: white;
    opacity: 0.8;
}

.r3:hover{
    opacity: 1;
}

.regist{
    padding-top: 20px;
    cursor: pointer;

}



.box2{
    /* width: 100%; */
    height: 130px;
    display: flex; 
    justify-content: center;
    align-items: center;
    background-color: white;
}

.box3 {
    position: relative;
    /* width: 100%; */
    z-index: 2;
    height: 951px;
    padding-top: 100px ;
    background: url(../walpaper/box3.png) no-repeat center center fixed;
    background-size: cover;
}

.flexbox2{
    width: 20%;
    margin: 0 auto;
    display: flex;
    text-align: center;
    justify-content: space-between;
}

.bd{
    width: 149px;
    height: 77px;
}

.sm{
    width: 149px;
    height: 77px;
}



 .gambar1 {
    position: relative;
    width: 400px;
    height: 400px;
    filter: drop-shadow(20px -3px 10px #e1e1e1);
    
    /* border: 1px solid green; */
}

.percobaans{

    /* border: 1px solid red; */
    display: flex;
    width: 100%;
    
    /* align-items: center; */
    justify-content: space-between;
}


/* nama band */
.konten1 .imgband img{
    border-radius: 10px;
    width: 275px;
    height: 243px;
    /* background: url(../imghomepage/testow.png)no-repeat center center fixed; */
}

.konten1 .nameband {

    height: 150px;

}

.container {
    /* border: 1px solid red; */
    margin: 0px 10%;
    display: flex;
    justify-content: space-around;
}

.nameband img {
    width: 275px;
}

footer {
    display: flex;
    padding-top: 20px;
    justify-content: space-around;
    background-color: white;
    height: 180px;
}

footer h2{
    padding-bottom: 20px;
}

footer p {
    padding-bottom: 10px;
}

footer .ig{
    width: 30px;
}



.insta p {
    padding: 4px 10px;
}

.insta {
    padding-bottom: 5px;
    display: flex;
}


.twit p {
    padding: 4px 10px;
}

.twit {
    display: flex;
}
/* @keyframes myAnim {
	0% {
		transform: scaleX(0.1);
		transform-origin: 0% 0%;
	}

	100% {
		transform: scaleX(1);
		transform-origin: 0% 0%;
	}
} */